Node-RED_Flows/OBS-Websocket/OBS_Websocket.json
[{"id":"3a3651ba.aec37e","type":"group","z":"765106cc.781e98","name":"To Streaming PC","style":{"stroke":"#000000","fill":"#b797cf","fill-opacity":"0.41","label":true,"color":"#000000"},"nodes":["400c799e.a42ad8","7f62fb9a.9f81e4","1ad52e0e.be4c92","4d6cfe82.bf4fa","49fafa3d.3c07f4","6d582b4b.5ca5f4","2184c961.8d58a6","f8ee2273.16875","8f887f67.4929","b3ea2403.2c19a8","a97d6fff.11064","a68da25c.555d7","9fce3274.20119","31aae0dc.cfda"],"x":34,"y":19,"w":772,"h":462},{"id":"400c799e.a42ad8","type":"function","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"SetCurrentScene","func":"msg.payload = {\n    \"request-type\": \"SetCurrentScene\",\n    \"scene-name\": msg.payload,\n    \"message-id\": msg._msgid\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["6d582b4b.5ca5f4"]]},{"id":"7f62fb9a.9f81e4","type":"ui_button","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"Scene 1","group":"8ed3ccd5.2a24a","order":1,"width":3,"height":2,"passthru":false,"label":"Scene 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SCENCE NAME HERE","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":60,"wires":[["400c799e.a42ad8"]]},{"id":"1ad52e0e.be4c92","type":"ui_button","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"Scene 2","group":"8ed3ccd5.2a24a","order":2,"width":3,"height":2,"passthru":false,"label":"Scene 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SCENCE NAME HERE","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":100,"wires":[["400c799e.a42ad8"]]},{"id":"4d6cfe82.bf4fa","type":"ui_button","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"Scene 3","group":"8ed3ccd5.2a24a","order":3,"width":3,"height":2,"passthru":false,"label":"Scene 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SCENCE NAME HERE","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":140,"wires":[["400c799e.a42ad8"]]},{"id":"49fafa3d.3c07f4","type":"ui_button","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"Scene 4","group":"8ed3ccd5.2a24a","order":4,"width":3,"height":2,"passthru":false,"label":"Scene 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SCENCE NAME HERE","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":180,"wires":[["400c799e.a42ad8"]]},{"id":"6d582b4b.5ca5f4","type":"websocket out","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"","server":"2dae8f27.5113a","client":"","x":650,"y":290,"wires":[]},{"id":"2184c961.8d58a6","type":"function","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"SetMute","func":"msg.payload = {\n    \"request-type\": \"SetMute\",\n    \"source\": msg.topic, //audio source name\n    \"mute\" : msg.payload,\n    \"message-id\": msg._msgid\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":240,"wires":[["6d582b4b.5ca5f4"]]},{"id":"f8ee2273.16875","type":"ui_switch","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"","label":"Desktop Mute","tooltip":"","group":"8ed3ccd5.2a24a","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"AUDIO SOURCE NAME","topicType":"str","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":240,"wires":[["2184c961.8d58a6"]]},{"id":"8f887f67.4929","type":"ui_switch","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"","label":"Microphone Mute","tooltip":"","group":"8ed3ccd5.2a24a","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"AUDIO SOURCE NAME","topicType":"str","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":280,"wires":[["2184c961.8d58a6"]]},{"id":"b3ea2403.2c19a8","type":"function","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"SetVolume","func":"msg.payload = {\n    \"request-type\": \"SetVolume\",\n    \"source\": msg.topic,\n    \"volume\" : msg.payload,\n    \"message-id\": msg._msgid\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[["6d582b4b.5ca5f4"]]},{"id":"a97d6fff.11064","type":"ui_slider","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"","label":"Desktop Volume","tooltip":"","group":"8ed3ccd5.2a24a","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"AUDIO SOURCE NAME","topicType":"str","min":0,"max":"1","step":"0.05","x":140,"y":340,"wires":[["b3ea2403.2c19a8"]]},{"id":"a68da25c.555d7","type":"ui_slider","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"","label":"Microphone Volume","tooltip":"","group":"8ed3ccd5.2a24a","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"AUDIO SOURCE NAME","topicType":"str","min":0,"max":"1","step":"0.05","x":160,"y":380,"wires":[["b3ea2403.2c19a8"]]},{"id":"9fce3274.20119","type":"ui_text_input","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"","label":"Text ","tooltip":"","group":"8ed3ccd5.2a24a","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"SOURCE NAME HERE","topicType":"str","x":110,"y":440,"wires":[["31aae0dc.cfda"]]},{"id":"31aae0dc.cfda","type":"function","z":"765106cc.781e98","g":"3a3651ba.aec37e","name":"SetTextGDIPlusProperties","func":"msg.payload = {\n    \"request-type\": \"SetTextGDIPlusProperties\",\n    \"source\": msg.topic,\n    \"text\":msg.payload,\n    \"message-id\": msg._msgid\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":440,"wires":[["6d582b4b.5ca5f4"]]},{"id":"8ed3ccd5.2a24a","type":"ui_group","name":"To Streaming PC","tab":"36a49f9c.155b6","order":1,"disp":true,"width":"6","collapse":false},{"id":"2dae8f27.5113a","type":"websocket-listener","path":"ws://Streaming.PC.IP:4444","wholemsg":"false"},{"id":"36a49f9c.155b6","type":"ui_tab","name":"TAB 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"5086aea9.bf5c1","type":"group","z":"765106cc.781e98","name":"From Streaming PC","style":{"stroke":"#000000","fill":"#3f93cf","fill-opacity":"0.47","label":true,"color":"#000000"},"nodes":["5afb62b.4704f9c","b0d09295.17f99","3b745c7c.f3ce54","e4042595.91c938","ff727d8f.8e9b4","c6af9aef.f96268","a63155a7.1ceb78","7c3df4e0.14adac","93e2973c.99d3c8","b6a3b11b.a9669","d7a819a3.c11e18","143037f6.aec808"],"x":34,"y":499,"w":912,"h":242},{"id":"5afb62b.4704f9c","type":"function","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"Stream Status","func":"//const input =JSON.parse(msg.payload);\ninput = msg.payload;\nif(input[\"update-type\"] == \"StreamStatus\"){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":540,"wires":[["3b745c7c.f3ce54","e4042595.91c938","ff727d8f.8e9b4","c6af9aef.f96268","b0d09295.17f99"]]},{"id":"b0d09295.17f99","type":"function","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"Dropped frames % ","func":"const input = msg.payload;\nmsg.payload = Math.round(input[\"output-skipped-frames\"]/input[\"output-total-frames\"]) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":540,"wires":[["d7a819a3.c11e18"]]},{"id":"3b745c7c.f3ce54","type":"function","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"Kpbs","func":"const input = msg.payload;\nmsg.payload = input[\"kbits-per-sec\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":580,"wires":[["b6a3b11b.a9669"]]},{"id":"e4042595.91c938","type":"function","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"FPS","func":"const input = msg.payload;\nmsg.payload = Math.round(input.fps);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":620,"wires":[["93e2973c.99d3c8"]]},{"id":"ff727d8f.8e9b4","type":"function","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"CPU","func":"const input = msg.payload;\nmsg.payload = Math.round(input[\"cpu-usage\"]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":660,"wires":[["7c3df4e0.14adac"]]},{"id":"c6af9aef.f96268","type":"function","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"Uptime","func":"const input = msg.payload;\nmsg.payload = input[\"stream-timecode\"].split(\".\")[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":700,"wires":[["a63155a7.1ceb78"]]},{"id":"a63155a7.1ceb78","type":"ui_text","z":"765106cc.781e98","g":"5086aea9.bf5c1","group":"dcab023.72472","order":5,"width":3,"height":1,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":700,"wires":[]},{"id":"7c3df4e0.14adac","type":"ui_gauge","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"CPU Usage","group":"dcab023.72472","order":3,"width":3,"height":2,"gtype":"gage","title":"CPU","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00ff00","#ff9600","#ff0000"],"seg1":"","seg2":"","x":810,"y":660,"wires":[]},{"id":"93e2973c.99d3c8","type":"ui_gauge","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"FPS","group":"dcab023.72472","order":1,"width":3,"height":2,"gtype":"gage","title":"Framerate","label":"FPS","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#ff9600","#00ff00"],"seg1":"","seg2":"","x":790,"y":620,"wires":[]},{"id":"b6a3b11b.a9669","type":"ui_gauge","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"Bitrate","group":"dcab023.72472","order":2,"width":3,"height":2,"gtype":"gage","title":"Bitrate","label":"kbps","format":"{{value}}","min":0,"max":"7000","colors":["#ff0000","#ff9600","#00ff00"],"seg1":"","seg2":"","x":790,"y":580,"wires":[]},{"id":"d7a819a3.c11e18","type":"ui_text","z":"765106cc.781e98","g":"5086aea9.bf5c1","group":"dcab023.72472","order":4,"width":3,"height":1,"name":"","label":"Dropped Frames","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":540,"wires":[]},{"id":"143037f6.aec808","type":"websocket in","z":"765106cc.781e98","g":"5086aea9.bf5c1","name":"","server":"2dae8f27.5113a","client":"","x":190,"y":540,"wires":[["5afb62b.4704f9c"]]},{"id":"dcab023.72472","type":"ui_group","name":"From Streaming PC","tab":"36a49f9c.155b6","order":2,"disp":true,"width":"6","collapse":false}]